    <div id="main">
        <!-- Main Content Area -->
        <div class="main-content">
            <div class="container-fluid">
                <p-table #dt [columns]="cols" [value]="applicants" selectionMode="single" [(selection)]="selectedApplicant" exportFilename="applicants" (onRowSelect)="onRowSelect($event)"  [rows]="15" [paginator]="true" [rowsPerPageOptions]="[15,30,50]" [responsive]="true" [resizableColumns]="true">
                    <ng-template pTemplate="caption">Pending Applicants</ng-template>
                    <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th>
                                    Date Applied
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-applicant let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                                <td>
                                  {{ applicant.applicationDate | date: 'short' }}
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="summary" let-rowData>
                            <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button><!--<button type="button" pButton icon="fa-file-o" iconPos="left" label="Save to CSV" (click)="dt.exportCSV()" style="float:right"></button>-->
                            </div>
                        </ng-template>
                    
                </p-table>

                <p-dialog header="Applicant Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="applicant">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="status">Status</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="status" disabled="true" [(ngModel)]="applicant.role" /></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="firstname">First</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="firstname" [(ngModel)]="applicant.firstname" /></div>
                        </div>
                        <input type="hidden" id="id" [(ngModel)]="applicant.id" />
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="lastname">Last</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="lastname" [(ngModel)]="applicant.lastname" /></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="emailAddress">Email</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="emailAddress" [(ngModel)]="applicant.emailAddress" /></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="phone">Phone</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="phone" [(ngModel)]="applicant.phone" /></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="applicantPropertyName">Property Name</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="applicantPropertyName" [(ngModel)]="applicant.applicantPropertyName" /></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="applicantUnit">Requested Unit</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="applicantUnit" [(ngModel)]="applicant.applicantUnit" /></div>
                        </div>
                    </div>
                    <p-footer>
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button type="button" disabled="true" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
                            <button type="button" pButton icon="fa-check" (click)="approve()" label="Approve"></button>
                        </div>
                    </p-footer>
                </p-dialog>
            </div>
        </div>
    </div>
