	<div id="main">
		<!-- Main Content Area -->
		<div class="main-content">
			<div class="container-fluid">
				<h5><i class="fa fa-user"></i> Welcome, {{currentUser?.firstname}}<br><small>ABC Management / Treetop Village Apartment Homes</small></h5>
				<hr>
				<h1>Mailbox <small>Message Center</small></h1>
				
				<section class="top">
					<form>				
				
						<div class="row">
							<div class="col-md-3">
								<section>
									<div class="form-group">
										<label class="sr-only" for="inlineFormInputGroup">Search</label>
											<div class="input-group">
											<input type="search" class="form-control form-control-sm" id="inlineFormInputGroup" placeholder="Search">
											<div class="input-group-addon"><i class="fa fa-search"></i></div>
										</div>
									</div>
								</section>
								
								<!-- Side Nav for Mailbox -->
								<section>
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary btn-block" (click)="compose()"><i class="fa fa-edit fa-lg"></i> Compose Mail</button>
										
									
									<div class="btn-group-vertical btn-block mail-nav">
										<a routerLink="/messages/inbox" routerLinkActive="active" class="btn btn-default"><span class="badge badge-info">3</span><i class="fa fa-inbox"></i> Inbox</a>
										<a href="#" class="btn btn-default"><span class="badge badge-danger">3</span><i class="fa fa-send"></i> Sent</a>
										<a href="#" class="btn btn-default"><span class="badge badge-success">1</span><i class="fa fa-pencil"></i> Drafts</a>
										<a href="#" class="btn btn-default"><span class="badge badge-info">1</span><i class="fa fa-ban"></i> Spam</a>
										<a href="#" class="btn btn-default"><span class="badge badge-info">2</span><i class="fa fa-trash-o"></i> Trash</a>
									</div>
								</section>
							</div>
							<div class="col-md-9">
								<div class="d-flex">
									<div class="mr-1">
										<div ngbDropdown class="dropdown">
											<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownSelect" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-square-o fa-lg"></i>
											</button>
											<div ngbDropdownMenu class="dropdown-menu dropdown-noline pt-3 pb-3" aria-labelledby="dropdownSelect">
												<div class="dropdown-item">All</div>
												<div class="dropdown-item">None</div>
												<div class="dropdown-item">Read</div>
												<div class="dropdown-item">Unread</div>
											</div>
										</div>
									</div>
									<div class="mr-1">
										<!--Sort mail -->
										<div class="btn-group">
											<div ngbDropdown class="dropdown">
												<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownSort" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
													Sort by:
												</button>
												<div ngbDropdownMenu class="dropdown-menu dropdown-noline pt-3 pb-3" aria-labelledby="dropdownSort">
													<div class="dropdown-item">Date Received</div>
													<div class="dropdown-item">Date Sent</div>
													<div class="dropdown-item">From</div>
													<div class="dropdown-item">To</div>
												</div>
											</div>

											<!--Filter dropdown - multi-select-->
											<div ngbDropdown class="dropdown">
												<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownFilter" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
													Filter
												</button>
												<div ngbDropdownMenu class="dropdown-menu dropdown-md p-3" aria-labelledby="dropdownFilter">
													<div class="row">
														<div class="col-md-6">
															<div class="dropdown-item">
																<label class="custom-control custom-checkbox">
																	<input type="checkbox" class="custom-control-input">
																	<span class="custom-control-indicator"></span>
																	<span class="custom-control-description">Read</span>
																</label>
															</div>
															<div class="dropdown-item">
																<label class="custom-control custom-checkbox">
																	<input type="checkbox" class="custom-control-input">
																	<span class="custom-control-indicator"></span>
																	<span class="custom-control-description">Sent</span>
																</label>
															</div>
														</div>
														<div class="col-md-6">
															<div class="dropdown-item">
																<label class="custom-control custom-checkbox">
																	<input type="checkbox" class="custom-control-input">
																	<span class="custom-control-indicator"></span>
																	<span class="custom-control-description">Unread</span>
																</label>
															</div>
															<div class="dropdown-item">
																<label class="custom-control custom-checkbox">
																	<input type="checkbox" class="custom-control-input">
																	<span class="custom-control-indicator"></span>
																	<span class="custom-control-description">Starred</span>
																</label>
															</div>
														</div>
													</div>												
												</div>
											</div>
										</div>
									</div>
									<div>
										<!-- These buttons should only show up when mail is selected -->
										<div class="btn-group">
											<button type="button" class="btn btn-default btn-sm"><i class="fa fa-exclamation fa-lg"></i></button>
											<button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash fa-lg"></i></button>
											<button type="button" class="btn btn-default btn-sm"><i class="fa fa-eye fa-lg"></i></button>
										</div>
									</div>
									<div class="ml-auto">
										<!--paging-->
										<nav aria-label="Inbox Naviation">
											<ul class="pagination pagination-sm align-self-end">
												<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="fa fa-chevron-left"></i></a></li>
												<li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"></i></a></li>
											</ul>
										</nav>
									</div>
								</div>
								
								<!-- Mailbox -->
								<section class="inbox">
									<div class="table-responsive">
										<table class="table table table-striped table-bordered table-hover">
											<tbody>
												<tr *ngFor='let message of messages' (click)="openMessage(message.id)">
													<td>
														<ul class="list-inline m-0">
															<li class="list-inline-item"><input type="checkbox"></li>
															<li class="list-inline-item"><i style="cursor: pointer" (click)="makeFavorite(message)" [hidden]="!message.favorite" class="fa fa-star"></i>
                         <i style="cursor: pointer" (click)="makeFavorite(message)" [hidden]="message.favorite" class="fa fa-star-o" aria-hidden="true"></i></li>
														</ul>
													</td>
													<td> {{ message.name }}</td>
													<td> {{ message.address1 }} </td>
													<td> {{ message.createDate | date: 'short' }} <i class="fa fa-check text-success"></i></td>
													<td>12/27 8:30pm <i class="fa fa-check text-success"></i></td>
												</tr>
												<tr>
													<td>
														<ul class="list-inline m-0">
															<li class="list-inline-item"><input type="checkbox"></li>
															<li class="list-inline-item"><!-- <i style="cursor: pointer" (click)="makeFavorite(message)" [hidden]="!message.favorite" class="fa fa-star"></i>
                         <i style="cursor: pointer" (click)="makeFavorite(message)" [hidden]="message.favorite" class="fa fa-star-o" aria-hidden="true"></i> --></li>
														</ul>
													</td>
													<td>Mary Doe</td>
													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
													<td>12/27 8:00pm <i class="fa fa-check text-success"></i></td>
													<td>12/27 8:30pm <i class="fa fa-check text-success"></i></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="d-flex justify-content-end">
										<!--paging-->
										<nav aria-label="Inbox Naviation">
											<ul class="pagination pagination-sm align-self-end">
												<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="fa fa-chevron-left"></i></a></li>
												<li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"></i></a></li>
											</ul>
										</nav>
									</div>
								</section>
							</div>
						</div>
				
					</form>
				</section>
			</div>
		</div>