.viewAll {
    float: none !important;
    font-size: 12px;
    font-style: italic;
}

.attachmentFile {
    text-indent: 10px;
    color: #565657;
}

.report {
    background-color: #6c757d;
    opacity: .5;
}

.sentType {
    padding: 0.24rem .5rem .10rem;
    color: white;
    border-radius: 5px;
    font-size: 9px;
}


