<div id="main">
		<!-- Main Content Area -->
		<div class="main-content">
			<form>
				<div class="container-fluid">
					<h1>Announcements</h1>
					
					<section>
						<div class="d-flex">
							<div class="mr-3">
								<button type="button" class="btn btn-primary btn-block" (click)="compose()"><i class="fa fa-edit fa-lg"></i> Create Announcement</button>
							</div>
							<div class="form-group">
								<label class="sr-only" for="inlineFormInputGroup">Search</label>
								<div class="input-group">
								    <input type="search" class="form-control form-control-sm" id="inlineFormInputGroup" placeholder="Search">
								    <div class="input-group-addon">
								        <i class="fa fa-search"></i>
								    </div>
								</div>
							</div>
							
						</div>
					</section>
					<div class="float-right">							
						<ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3"></ngb-pagination>
					</div>
					
					<section>
						<table class="table">
							<thead class="thead-light">
								<tr>
									<th>Date Created</th>
									<th>Recepient</th>
									<th>Subject</th>
									<th>Message</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01/10/2018</td>
									<td>Community Distribution</td>
									<td>Laundry Facility Maintenance 01/23/2018</td>
									<td width="50%">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</td>
								</tr>
								<tr>
									<td>01/01/2018</td>
									<td>Community Distribution</td>
									<td>Parking Lot Closure 01/13/2018</td>
									<td width="50%">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</td>
								</tr>
								<tr>
									<td>01/01/2018</td>
									<td>Community Distribution</td>
									<td>Lorem ipsum dolor</td>
									<td width="50%">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</td>
								</tr>
								<tr>
									<td>01/01/2018</td>
									<td>Community Distribution</td>
									<td>Lorem ipsum dolor</td>
									<td width="50%">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</td>
								</tr>
								<tr>
									<td>01/01/2018</td>
									<td>Community Distribution</td>
									<td>Lorem ipsum dolor</td>
									<td width="50%">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
					<hr>
					<section>
						<div class="d-flex">
							<div>
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createAnnouncementModal"><i class="fa fa-edit fa-lg"></i> Create Announcement</button>
							</div>
							
						</div>
						<ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" class="float-right"></ngb-pagination>
					</section>
				</div>
				
			</form>
		</div>