<div id="main">
		<!-- Main Content Area -->
		<div class="main-content">
			<form>
				<div class="container-fluid">
					<h1>Announcements</h1>
					
					<section>
						<div class="d-flex">
							<div class="mr-3">
								<button type="button" class="btn btn-primary btn-block" (click)="compose()"><i class="fa fa-edit fa-lg"></i> Create Announcement</button>
							</div>
							<div class="form-group">
								<label class="sr-only" for="inlineFormInputGroup">Search</label>
								<div class="input-group">
								    <input type="search" class="form-control form-control-sm" id="inlineFormInputGroup" placeholder="Search">
								    <div class="input-group-addon">
								        <i class="fa fa-search"></i>
								    </div>
								</div>
							</div>
							
						</div>
					</section>
					<ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" class="float-right"></ngb-pagination>
					
					<section>
						<table appSortableTable class="table table-hover" (sorted)="onSorted($event)">
							<thead class="thead-light">
								<th class="noPadding"><app-th columnName="id" displayName="Subject"></app-th></th>
								<th class="noPadding"><app-th columnName="message" displayName="Message"></app-th></th>
								<th class="noPadding"><app-th columnName="createDate" displayName="Date Sent"></app-th></th>
							</thead>
							<tbody>
								<tr *ngFor='let message of messages | slice:(page-1)*itemsPerPage:itemsPerPage*page' (click)="openMessage(message.id)">
									<td width="30%">
										<span class="previewTitle"> {{message.subject}} </span>  
									</td> 
									<td width="50%">
										<span class="previewMessage"> {{message.message}} </span> 
									</td>
									<td class="fixed-60 nowrap"><b>{{message.createDate | date:'short' }}</b> </td>
								</tr>
							</tbody>
						</table>
					</section>
					<hr>
					<section>
						<div class="d-flex">
							<div>
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createAnnouncementModal"><i class="fa fa-edit fa-lg"></i> Create Announcement</button>
							</div>
							
						</div>
						<ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" class="float-right"></ngb-pagination>
						              
						<p-progressSpinner class="spinner" *ngIf="loading" [style]="{width: '75px', height: '75px'}" strokeWidth="8" animationDuration="1s" mode="indeterminate"></p-progressSpinner>
					</section>
				</div>
				
			</form>
		</div>