<div id="main">
		<!-- Main Content Area -->
		<div class="main-content">
			<form>
				<div class="container-fluid">
					<h3>Manage Announcements</h3>
					
					<section>
						<div class="d-flex">
							<div class="mr-3">
								<button type="button" class="btn btn-primary btn-block" (click)="compose()"><i class="fa fa-edit fa-lg"></i> Create New Announcement</button>
							</div>
							<div class="form-group">
								<label class="sr-only" for="inlineFormInputGroup">Search</label>
								<div class="input-group">
								    <input type="search" class="form-control form-control-md" id="inlineFormInputGroup" placeholder="Search">
								    <div class="input-group-addon">
								        <i class="fa fa-search"></i>
								    </div>
								</div>
							</div>
						</div>
					</section>

					<div class="row d-block" *ngFor='let announcement of announcements | slice:(page-1)*itemsPerPage:itemsPerPage*page' style="word-wrap: break-word">
						<hr>
						
						<div class="float-right date-margin"> 
							<small>{{announcement.createDate | date}}</small> 
							<div class="text-success text-right"><small>Published</small></div>
						</div>
						
						<h4> {{announcement.subject}} </h4>
						<div class="w-75" [innerHTML]="announcement.message | safeHtml"> </div>
						
						<div class="clearfix">
							<button class="btn btn-sm btn-info float-right ">Edit</button>
							<button class="btn btn-sm btn-info float-right mr-2">Delete</button>	
						</div>
							
					</div>
					<br>
					<ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" class="float-right"></ngb-pagination>	

				</div>
			</form>
		</div>
</div>