<div class="row">
  <div class="col-md-6" *ngIf="message; else no_data_templ">
    <h5 class="card-title"><small>Sent: {{message?.createDate | date:'MMM d, y, h:mm a' }}</small><br>{{message?.subject}}</h5>
    <p [innerHTML]="message?.message | htmlToPlain"> </p>
    <a (click)="openReport()" class="btn btn-primary btn-sm mr-1">View Message Report</a><a href="messages" class="btn btn-default btn-sm">View All Messages</a>
  </div>

  <div *ngIf="readPercent != null" class="col-md-6">
    <app-building-graph [readPercent]="readPercent"></app-building-graph>
  </div>
</div>

<ng-template #no_data_templ>
  <div class="col-md-6">
     <h5 class="card-title"><small>Sent: {{ whatTime | async | date:'MMM d, y, h:mm a' }}</small><br>No Messages</h5>
         <p>Empty Message</p>
         <a (click)="openReport()" disabled class="btn btn-primary btn-sm mr-1">View Message Report</a><a href="messages" class="btn btn-default btn-sm">View All Messages</a>
  </div>
</ng-template>
