<div class="row">
  <div class="col-md-6">
    <h5 class="card-title"><small>Sent: {{message?.createDate | date:'MMM d, y, h:mm a' }}</small><br>{{message?.subject}}</h5>
    <p [innerHTML]="message?.message | htmlToPlain"> </p>
    <a (click)="openReport()" class="btn btn-primary btn-sm mr-1">View Message Report</a><a href="messages" class="btn btn-default btn-sm">View All Messages</a>
  </div>
  <div class="col-md-6 flex">
      <img class="buildingImg padding-15" [src]="buildingImgSrc">

      <ul class="list-unstyled mt-5">
        <li>
          <h4 class="alert alert-success">
            <span class="alert-heading mb-0"> {{readPercent | percent}} </span> <small class="small-building"> Read </small>
          </h4>
        </li> 
        
        <li class="list-margin">
          <h4 class="alert alert-warning">
            <span class="alert-heading mb-0"> {{pendingPercent | percent}} </span> <small class="small-building"> Pending </small>
          </h4>
        </li>
      </ul>
  </div> 
</div>

