:host-context(.login) {
  width: inherit;
}

:host-context(.dashboard) {
  width: 50% !important;
  float: right !important;
}

:host-context(.applicant) {
  float: left !important;
  display: block !important;
  width: inherit;
}

:host-context(.messages) {
  position: absolute !important;
  display: inline-block !important;
  left: 35% !important;
  top: 2.5rem !important;
  text-align: center !important;
  width: 50% !important;
}