/* Message Center Custom Styles
-------------------------------------------------- */
/* Mailbox */
.mail-nav.btn-group-vertical {
  margin-top: 1px;
}
.mail-nav.btn-group-vertical .btn {
  text-align: left;
}
.mail-nav.btn-group-vertical span.badge {
  float: right;
  margin-top: 4px;
}
.mail-nav.btn-group-vertical i {
  float: left;
  margin-top: 4px;
  margin-right: 5px;
  width: 20px;
}
.inbox {
  margin-top: 17px;
}

// John Styles
.container-fluid {
    min-height: 768px;
}

tr {
    cursor: pointer;
}

.fa-sort {
  cursor: pointer;
}

.noBorder {
  border: 0px;
}

.sort {
  font-size: 13px;
  margin-top: 4px;
}

::ng-deep .page-item.active .page-link {
  color: black;
  background-color: #efefef;
  border: 1px solid #ddd;
}

::ng-deep .page-link {
  color: black;
} 

.previewMessage {
  opacity: .75;
  width: 40em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.previewTitle {
  font-style: bold;
  overflow: hidden;
  display: inline-block;
}

.mailHeader {
  cursor: pointer;
  color: white; 
}

.mailHead {
  cursor: pointer;
}

.mailTable {
  font-size: 14px;
}

.noPadding {
  padding: 0px;
}

.thead-light {
  cursor:pointer;
}

.addOpacity {
  opacity: .5;
}

.spinner {
  display: block;
  margin: 0 auto;
}

.table-responsive {
  overflow-x: none;
}

.fixed-30 {
  width: 30px;
}

.fixed-60 {
  width: 60px;
}

.padding5 {
  padding-left: 5px;
}

.sentType {
  padding: 0.47rem .4rem;
  // background-color: #dad9d9;
  color: white;
  padding-top: 5px;
  padding-bottom: 3px;
  border-radius: 10px;

}

.UNIT {
  background-color: #3d9241;
  opacity: .5;
}

.SITE {
  background-color: #1970bc;
  opacity: .5;
}

.BUILDING {
  background-color: #ce7300;
  opacity: .5;
}

.nowrap {
  white-space: nowrap;
}

.table {
  max-width: none;
  table-layout: fixed;
  word-wrap: break-word;
}

td, th {
  white-space: nowrap;
}

td {
  overflow-x: hidden;
}

// Various classes for fixed width table.
.width-150 {
  width: 150px;
}

.width-250 {
  width: 250px;
}

.width-100 {
  width: 100px;
}

.width-25 {
  width: 25px;
}

.min-width-100 {
  min-width: 100px;
}

.min-width-150 {
  min-width: 150px;
}

.ellipsis {
  text-overflow: ellipsis;
}

@media screen and (max-width: 745px) {
  td {
    padding: .1rem;
  }
  th {
    padding: .1rem;
  }
}

@media screen and (max-width: 1182px) {
  td {
    padding: .2rem;
  }
  th {
    padding: .2rem;
  }
}