/* Message Center Custom Styles
-------------------------------------------------- */
.sentbox {
  margin-top: 17px;
}

// John Styles
.container-fluid {
    min-height: 768px;
}

tr {
    cursor: pointer;
}

.fa-sort {
  cursor: pointer;
}

.noBorder {
  border: 0px;
}

.sort {
  font-size: 13px;
  margin-top: 4px;
}

::ng-deep .page-item.active .page-link {
  color: black;
  background-color: #efefef;
  border: 1px solid #ddd;
}

::ng-deep .page-link {
  color: black;
} 

.previewMessage {
  opacity: .75;
  width: 40em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.previewTitle {
  font-style: bold;
  overflow: hidden;
}

.mailHeader {
  cursor: pointer;
  color: white; 
}

.mailHead {
  cursor: pointer;
}

.mailTable {
  font-size: 14px;
}

.noPadding {
  padding: 0px;
}

.thead-light {
  cursor:pointer;
}

.addOpacity {
  opacity: .5;
}

.table-responsive {
  overflow-x: none;
}

.fixed-30 {
  width: 30px;
}

.fixed-60 {
  width: 60px;
}

.padding5 {
  padding-left: 5px;
}

.sentType {
  padding: 0.24rem .5rem .10rem;
  color: white;
  border-radius: 5px;
  font-size: 9px;
}

.UNIT {
  background-color: #3d9241;
  opacity: .5;
}

.SITE {
  background-color: #1970bc;
  opacity: .5;
}

.report {
  background-color: #6c757d;
  opacity: .5;
}

.BUILDING {
  background-color: #ce7300;
  opacity: .5;
}

.nowrap {
  white-space: nowrap;
}

// Below are custom table modifications for responsiveness.
.table {
  max-width: none;
  table-layout: fixed;
  word-wrap: break-word;
}

td, th {
  white-space: nowrap;
  overflow-x: hidden;
}

.text-right {
    text-align: right !important;
    width: 200px !important;
}

// Various classes for fixed width table.  TODO: Make Global
.width-25 {
  width: 25px;
}
.width-50 {
  width: 50px;
}
.width-100 {
  width: 100px;
}
.width-150 {
  width: 150px;
}
.width-250 {
  width: 250px;
}

.min-width-100 {
  min-width: 100px;
}
.min-width-150 {
  min-width: 150px;
}

.ellipsis {
  text-overflow: ellipsis;
}

.top-checkmark {
  background-color: #868e96;
}

#marginFix {
  margin-top: -50px;
}
/*
  As browser width decreases, change padding in table.
*/
@media screen and (max-width: 745px) {
  td {
    padding: .1rem;
  }
  th {
    padding: .1rem;
  }
}

@media screen and (max-width: 1182px) {
  td {
    padding: .2rem;
  }
  th {
    padding: .2rem;
  }
}