<div id="marginFix">
<ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" class="float-right"></ngb-pagination>

<section class="inbox" *ngIf="!loading">
	<div class="table">
		<table appSortableTable class="table table-hover" (sorted)="onSorted($event)">
			<thead class="thead-light">
					<th class="width-25"> 
						<app-th disable="true">
							<p-checkbox name="groupname" value="val2" [(ngModel)]="checkAll" binary="true" (click)="selectAllMessages(checkAll)"></p-checkbox>
						</app-th>
					</th>
					<th class="width-250">
						<app-th columnName="id" displayName="Recipient"></app-th>
					</th>
					<th class="width-150">
					</th>
					<th class="min-width-100">
						<app-th columnName="message" displayName="Subject"></app-th>
					</th>
					<th class="text-right" style="padding-left:50px;">
						<app-th columnName="createDate" displayName="Date"></app-th>
					</th>
			<tbody> 
				<tr *ngFor='let message of messages | slice:(page-1)*itemsPerPage:itemsPerPage' (click)="openMessage(message.id)">
					<td>
						<ul class="list-inline m-0">
						  <li class="list-inline-item">
							<p-checkbox name="groupname" value="val2" [(ngModel)]="message.selected" binary="true"></p-checkbox>
						  </li>
						</ul>
					</td>
					<td style="font-size: 12px; text-overflow: ellipsis;"> 
						<span> To: </span>
						<span *ngFor='let recipient of message.recipients; let i=index; let isLast=last'>
							<!-- <span *ngIf="i < 3" >
								<span> {{recipient.firstname}}<span *ngIf="i < 2 && !isLast">, </span>
								</span>
							</span>
						</span> -->

						<!-- If we have more than 3 recipients, display "..." -->
<!-- <!-- 						<!-- <span *ngIf="message.recipients.length > 3">
								...
						</span>
			
					<td class="min-width-100" style="padding-right: 20px">

						<span class="previewTitle"> {{message.subject}} </span> 
						<span class="previewMessage">- {{message.message}} </span> 
					</td> 
					<td class="text-right" style="padding-left: 50px">
						<!-- <button class="btn btn-sm btn-primary float-right sentType">View Report</button> -->
						<span>{{message.createDate | date:'mediumDate' }} </span>
					</td>
				</tr>				               
			</tbody>
		</table>
	</div>
</section>     

<ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" class="float-right"></ngb-pagination>
              
<p-progressSpinner class="spinner" *ngIf="loading" [style]="{width: '75px', height: '75px'}" strokeWidth="8" animationDuration="1s" mode="indeterminate"></p-progressSpinner>

</div>
