<div id="marginFix">

<ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" (pageChange)="pageChange()" class="float-right"></ngb-pagination>

<section class="inbox" *ngIf="!loading && loading1">
	<div class="table">
	 	<table appSortableTable class="table table-hover" (sorted)="onSorted($event)">
			<thead class="thead-light">
					 <th class="width-25"> 
						<app-th disable="true">
							<p-checkbox name="groupname" value="val2" [(ngModel)]="checkAll" binary="true" (click)="selectAllMessages(checkAll)"></p-checkbox>
						</app-th>
					</th>
					 <th class="width-250">
						<app-th columnName="id" displayName="Recipient"></app-th>
					</th> 
					<th class="width-150">
					</th>
					<th class="min-width-100">
						<app-th columnName="message" displayName="Subject"></app-th>
					</th>
					<th class="text-right" style="padding-left:50px;">
						<app-th columnName="createDate" displayName="Date"></app-th>
					</th> 
			<tbody> 
				<tr *ngFor='let message of messages' (click)="openMessage(message.id)">
					<td>
						<ul class="list-inline m-0">
						  <li class="list-inline-item">
							<p-checkbox name="groupname" value="val2" [(ngModel)]="message.selected" binary="true"></p-checkbox>
						  </li>
						</ul>
					</td>

					<td class="ellipsis">
		
						<span *ngIf="message.type ==='SITE'">
							{{message.messageRecipients[0]?.rentalSite}}		
						</span>

						<span *ngIf="message.type === 'BUILDING'">
							Building - {{message.messageRecipients[0]?.rentalSiteBuilding}}
						</span>

						<span *ngIf="message.type === 'UNIT'">
							{{message.messageRecipients[0]?.rentalSiteBuilding}}:
							Units -
							<span *ngFor='let message of message.messageRecipients | filterUnits'>
							    {{message}}
						    </span>
						</span>

						<span *ngIf="message.type === 'RESIDENT'">
							{{message.messageRecipients[0]?.rentalSiteBuilding}}
								-
							<span *ngFor='let message of message.messageRecipients; let isLast=last'>
								{{message.lastname}}{{isLast ? '' : ', '}}
							</span>
						</span>
					</td>
					<td>
						<button [ngClass]="message.type" class="btn sentType UNIT">
							<span *ngIf="message.type==='SITE'">
								Community
							</span>
							<span *ngIf="message.type!='SITE'">
								{{message.type}}
							</span>
						</button>
					</td>

					<td class="min-width-100" style="padding-right: 20px">
		
						<span class="previewTitle"> {{message.subject}} -</span> 
						<span [innerHTML]="message.message | htmlToPlain"> </span> 
					</td> 

					<td class="text-right" style="padding-left: 50px">
						<span>{{message.createDate | date:'mediumDate' }} </span>
					</td>
				</tr>				               
			</tbody>
		</table>
	</div>
</section>     

<ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" (pageChange)="pageChange()" class="float-right"></ngb-pagination>
<p-progressSpinner id="sentbox" class="spinner" *ngIf="loading" [style]="{width: '75px', height: '75px'}" strokeWidth="8" animationDuration="1s" mode="indeterminate"></p-progressSpinner>

</div>
