/* Message Center Custom Styles
-------------------------------------------------- */
/* Mailbox */
.mail-nav.btn-group-vertical {
  margin-top: 1px;
}
.mail-nav.btn-group-vertical .btn {
  text-align: left;
}
.mail-nav.btn-group-vertical span.badge {
  float: right;
  margin-top: 4px;
}
.mail-nav.btn-group-vertical i {
  float: left;
  margin-top: 4px;
  margin-right: 5px;
  width: 20px;
}
.inbox {
  margin-top: 17px;
}

// John Styles
.container-fluid {
    min-height: 768px;
}

tr {
    cursor: pointer;
}

.fa-sort {
  cursor: pointer;
}

.noBorder {
  border: 0px;
}

.sort {
  font-size: 13px;
  margin-top: 4px;
}

::ng-deep .page-item.active .page-link {
  color: black;
  background-color: #efefef;
  border: 1px solid #ddd;
}

::ng-deep .page-link {
  color: black;
} 

.previewMessage {
  opacity: .75;
  width: 40em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.previewTitle {
  font-style: bold;
  overflow: hidden;
  display: inline-block;
}

.mailHeader {
  cursor: pointer;
  color: white; 
}

.mailHead {
  cursor: pointer;
}

.mailTable {
  font-size: 14px;
}

.noPadding {
  padding: 0px;
}

.thead-light {
  cursor:pointer;
}

.addOpacity {
  opacity: .5;
}

.spinner {
  margin-top: 150px;
  float: right;
  position: relative;
  right: 60%;
}

.table-responsive {
  overflow-x: none;
}

.fixed-30 {
  width: 30px;
}

.fixed-60 {
  width: 60px;
}

.padding5 {
  padding-left: 5px;
}

.sentType {
  padding: 0.47rem .4rem;
  background-color: #dad9d9;
  color: white;
  padding-top: 5px;
  padding-bottom: 3px;
  border-radius: 10px;

}

.UNIT {
  background-color: #3d9241;
  opacity: .5;
}

.SITE {
  background-color: #1970bc;
  opacity: .5;
}

.BUILDING {
  background-color: #ce7300;
  opacity: .5;
}

.nowrap {
  white-space: nowrap;
}

// FOR CHECKBOX.

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 15px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #868e96;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #868e96;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 0px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.top-checkmark {
  background-color: #868e96;
}