<div id="main">
    <!-- Main Content Area -->
    <div class="main-content">

        <div class="container-fluid">
            <app-alert class='messages'></app-alert>
            <h1 class="boxheader">Messages<small *ngIf="onInbox()" class="boxheader">  Received </small><small *ngIf="onSentBox()" class="boxheader">  Sent</small></h1>
            
            <section class="top">
                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <section>
                                <div class="form-group">
                                    <label class="sr-only" for="inlineFormInputGroup">Search</label>
                                    <div class="input-group">
                                        <input type="search" class="form-control form-control-sm" id="inlineFormInputGroup" placeholder="Search">
                                        <div class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section>

                                <button type="button" id="compose" class="mb-3 btn btn-default btn-block text-left" (click)="compose()">
                                    <i class="fa fa-edit fa-lg"></i> Create New
                                </button>
                                
                                <div class="btn-group-vertical btn-block mail-nav">
                                    <a routerLink="/messages/inbox" class="btn btn-default" routerLinkActive="active">
                                    <i class="fa fa-inbox"></i> Received</a>

                                    <a routerLink="/messages/sent" class="btn btn-default" routerLinkActive="active">
                                    <i class="fa fa-send"></i> Sent</a>
                                </div>

                            </section>
                        </div>

                        <div class="col-md-10">
                            <router-outlet></router-outlet>
                        </div>
                    </div> 
                </form>
            </section>
        </div>
    </div>

    <footer>
        <small>&copy; 2018 BetterLeasing. All Rights Reserved. </small>
    </footer>
</div>