/* Default Reset
-------------------------------------------------- */
.leasing-table table a {
  text-decoration: none;
  display: block;
}
.leasing-table a.btn,
.leasing-table table a.btn {
  font-weight: bold;
}
/*.leasing-table table th:nth-child(5), 
.leasing-table table td:nth-child(5) {
  background-color: #c3d1d7;
}*/
.leasing-table table tr th,
.leasing-table table tr app-th,
.leasing-table table tr td {
  font-size: 14px;
  vertical-align: middle;
}
.leasing-table tr th,
.leasing-table tr app-th,
.leasing-table tr td {
  font-size: 14px;
  vertical-align: middle;
}
.leasing-table table tr th sup .btn.btn-sm {
  padding: 0;
}
.leasing-table table tr app-th sup .btn.btn-sm {
  padding: 0;
}
.leasing-table table tr td {
  padding: 6px 8px;
}
.leasing-table tr td {
  padding: 6px 8px;
}
.leasing-table table .btn.btn-sm {
  padding: 4px 6px;
}
.leasing-table table thead > tr > th > svg,
.leasing-table table thead > tr > th > i {
  float: right;
  color: #aaa;
  margin-top: 5px;
}
.leasing-table table thead > tr > app-th > svg,
.leasing-table table thead > tr > app-th > i {
  float: right;
  color: #aaa;
  margin-top: 5px;
}
.leasing-table .badge.new {
  float: right;
  margin-top: 1px;
}

.width-25 {
  width: 25px;
}
.width-50 {
  width: 50px;
}
.width-100 {
  width: 100px;
}
.width-150 {
  width: 150px;
}
.width-250 {
  width: 250px;
}

.addNew {
  float: right;
}

::ng-deep .page-item.active .page-link {
  color: black;
  background-color: #efefef;
  border: 1px solid #ddd;
}

::ng-deep .page-link {
  color: black;
} 

::ng-deep .tooltip-inner {
    background-color: #FFF;
    color: #000;
    padding: .5rem .75rem;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}
