.buildingImg {
    width: 45%;
    height: 90%;
}

.alert-heading {
    font-size: 25px;
}

.flex {
    display: inline-flex;
}

.padding-15 {
    padding: 15px;
}

.list-margin {
    margin-top: -30px;
}

.small-building {
    display: block;
    font-size: 50%;
}