<div id="main">
  <!-- Main Content Area -->
  <div class="main-content">
    <div class="container-fluid">
      <h1><small>Manage</small> Unit Availability</h1>
      <form>
        <div class="row">
          <div *ngIf="buildings" class="col-md-4">
            <app-select-option [selected]="buildings[0]" [objs]="buildings" [type]="'address1'" [default]="'Show all units'" (onSelect)="selectBuilding($event)"></app-select-option>
          </div>
                    
          <!-- <div class="col-md-2">
              <app-select-option [selected]="filters[0]" [objs]="filters" (onSelect)="setFilter($event)"></app-select-option> 
          </div> -->
        </div>
      </form>
      <hr>
      <div>
        <small>
          <ul class="list-inline list-inline-item-border-right">
            <li class="list-inline-item"><strong>KEY:</strong> &nbsp; Available: <i class="fa fa-check text-success"></i></li>
            <li class="list-inline-item">Reserved: <i class="fa fa-calendar text-info"></i></li>
            <li class="list-inline-item">Model Unit: <i class="fa fa-cube text-secondary"></i></li>
            <li class="list-inline-item">Disable Display: <i class="fa fa-eye-slash text-warning"></i></li>
          </ul>
        </small>
      </div>
      <table class="table table-bordered table-hover mt-2">
        <thead>
          <tr><th colspan="6">{{selectedBuilding?.address1}}</th></tr>
          <tr class="bg-light">
            <th width="80">Unit Status</th>
            <th class="w-150">Unit Number</th>
            <th width="25%">Address</th>
            <th class="w-150">Floorplan</th>
            <th class="w-150">ID</th>
            <th>Residents</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unit of units; let i = index">
              <td>
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                  <label [ngClass]="{'active': unit.avail}" class="btn btn-success"><input (click)="changeUnitAvail(i, 'avail')"  type="radio" id="check" autocomplete="off"> <i class="fa fa-check"></i></label>
                  <label [ngClass]="{'active': unit.reserved}" class="btn btn-info"><input (click)="changeUnitAvail(i, 'reserved')" id="cal" type="radio" autocomplete="off"><i class="fa fa-calendar"></i></label>
                  <label [ngClass]="{'active': unit.modelunit}" class="btn btn-secondary"><input (click)="changeUnitAvail(i, 'modelunit')" type="radio" id="model" autocomplete="off"><i class="fa fa-cube"></i></label>
                  <label [ngClass]="{'active': unit.disable}" class="btn btn-warning"><input (click)="changeUnitAvail(i, 'disable')" type="radio"  id="display"><i class="fa fa-eye-slash"></i></label>
                </div>
              </td>
              <td>{{unit.unitNumber}}</td>
              <td>{{unit.address1}}</td>
              <td>Studio</td>
              <td>{{unit.unitCode}}</td>
              <td>John Smith</td>
          </tr>
        </tbody>
      </table>
      <input type="submit" class="btn btn-primary" value="Save">
    </div>
  </div>
  
  <footer>
    <small>&copy; 2018 BetterLeasing</small>
  </footer>
</div>