<!-- Modal -->
		<div class="modal-content">
			<div class="modal-header">
				<h4>Contact Card</h4>
				<button type="button" class="close" (click)="activeModal.close('Close click')">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<h6 class="m-0">{{name}}</h6>
				<ul class="list-unstyled">
					<li>123 Barney Ave.<br>Atlanta, GA 30312</li>
					<li><i class="fa fa-phone"></i> ({{phone | slice:0:3}}) {{phone | slice:3:6}}-{{phone | slice:6:10}}</li>
				</ul>
				<table class="table">
					<thead>
						<tr>
							<th colspan="2">Preference</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Expected Move-In Date:</td>
							<td>{{moveinDate | date}}</td>
						</tr>
						<tr>
							<td>Bedrooms:</td>
							<td>1</td>
						</tr>
						<tr>
							<td>Desired Rent:</td>
							<td>$850</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
			</div>
		</div>