	<div id="main">
		<!-- Main Content Area -->
		<div class="main-content">
			<div class="container-fluid">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="leasing"><i class="fa fa-arrow-left"></i> Back</a></li>
					<li class="breadcrumb-item active">Notes</li>
				</ol>
				<h1>Notes</h1>
				<h6>Applicant: JOHN TESTCASE<br><small>Date: 03/17/2018 9:03 AM</small></h6>
				<div class="row">
					<div class="col-md-8">
						<table class="table table-bordered">
							<thead class="thead-light">
								<tr>
									<th>Date</th>
									<th>Contact</th>
									<th>Comment</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>03/16/2018 3:02 PM</td>
									<td>JCho</td>
									<td width="60%">Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
									<td>Read by SRI</td>
								</tr>
								<tr>
									<td>03/16/2018 3:02 PM</td>
									<td>JCho</td>
									<td>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
									<td>Read by SRI</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<div class="card mb-5">
							<div class="card-header">
								<i class="fa fa-sticky-note"></i> Leave a Note
							</div>
							<div class="card-body">
								<form>
									<div class="form-row">
										<div class="col-sm-12">
											<label for="" class="col-form-label">Comments for Customer Service</label>
											<textarea class="form-control" rows="5"></textarea>
										</div>
									</div>
									<hr>
									<input type="submit" class="btn btn-primary" value="Save">
									<input type="reset" class="btn btn-secondary" value="Clear">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer>
			<small>&copy; 2018 BetterLeasing</small>
		</footer>
	</div>