<app-loading message="Loading..." *ngIf="loading"></app-loading>

<div class="d-flex">
    <div class="btn-toolbar">
      <a routerLink="/messages/sent" class="btn btn-default btn-sm mr-1"><i class="fa fa-long-arrow-left"></i> Back</a>
      <button type="button" class="btn btn-default btn-sm mr-1"> <i class="fa fa-trash fa-lg"></i></button>
    </div>
</div>

<section class="viewMessage">
  <div *ngIf="!loading" class="table-responsive">
      <table class="table table table-striped table-bordered table-hover">
        <tbody>
          <tr>
            <td>
              <p>
                <strong>{{message?.subject}}<br>
                  <small>{{message?.createDate | date}}</small>
                </strong>
              </p>
              <p>
                <span [innerHTML]="message?.message | safeHtml"></span>
              </p>
              <p>
                <small *ngIf="attachments.length"><i class="fa fa-paperclip"> {{attachments.length}} Attachments</i></small>
              </p>

              <section class="attachSection" *ngIf="attachments">
                <span class="attachSpan" *ngFor='let attachment of attachments'>
                  <a href="{{attachment.url}}" download>
                    <img class="attach" [src]="attachment.url" alt="File" onError="this.src='./assets/FilePDF.png';">
                  </a>
                </span>
              </section>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</section>

