@import '~sass/variables';

.box {
  background: $stateDefaultBgColor;
  border: $stateDefaultBorderWidth solid $stateDefaultBorderColor;
  box-sizing: border-box;
  box-shadow: $stateDefaultBorderColor 0 0 6px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  transition:all 0.2s ease;

  &:hover {
    border-color: $stateActiveBorderColor;
  }
}

.tale {
  color: $stateDefaultTextColor;

  .title {
    text-align: center;
    font-size: 4em;
  }

  .text {
    text-align: center;
    font-size: 1.2em;
  }
}

h1 {
  margin: 10px 0;
}

.line {
  border-bottom: $stateDefaultBorderWidth solid $stateDefaultBorderColor;
  margin-bottom: 10px;
}
