<div id="main">    
  <div class="main-content">
    <div class="container-fluid dashboard">
      <h5><i class="fa fa-user"></i> Welcome, {{currentUser?.firstname}}<br><small> {{currentSite?.name}}</small></h5>
      <app-alert class='dashboard'></app-alert>
      <hr>
      <h1>Dashboard</h1>       
        <section id="quick-info">

        <div class="row">
          <div class="col-lg-8">
            <section id="quick-info">
							<div class="row">
								<div class="col-lg-3">
									<div class="icon-box">
										<div class="icon">
											<div class="image">
												<!--<span class="badge badge-success">2</span>-->
												<i class="fa fa-users fa-2x"></i>
											</div>
											<div class="card">
											  <div class="card-body">
												<h5 class="card-title">Applicants</h5>
												  	<a href="" class="btn btn-primary btn-sm">New Applicants</a>
											  		<!--<a href="leads.html" class="btn btn-default btn-sm">View All Leads</a>-->
                                                </div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="icon-box">
										<div class="icon">
											<div class="image">
												<!--<span class="badge badge-success">1</span>-->
												<i class="fa fa-file-text-o fa-2x"></i>
											</div>
											<div class="card">
											  <div class="card-body">
												<h5 class="card-title">Ready for Lease</h5>
													<a href="" class="btn btn-primary btn-sm">Ready for Lease</a></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="icon-box">
										<div class="icon">
											<div class="image">
												<!--<span class="badge badge-info">2</span>-->
												<i class="fa fa-comments fa-2x"></i>
											</div>
											<div class="card">
												<div class="card-body">
													<h5 class="card-title">Communications</h5>
													<a (click)="compose()" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Start Communication"><i class="fa fa-edit fa-lg"></i></a>
													<a href="messages" class="btn btn-default btn-sm">View All</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="icon-box">
										<div class="icon">
											<div class="image">
												<!--<span class="badge badge-info">2</span>-->
												<i class="fa fa-bullhorn fa-2x"></i>
											</div>
											<div class="card">
												<div class="card-body">
													<h5 class="card-title">Announcements</h5>
													<a (click)="composeAnnouncement()" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Create New Announcement"><i class="fa fa-edit fa-lg"></i></a>
													<a href="announcements" class="btn btn-default btn-sm">View All</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
              
                  <section>
                    <div class="card mb-5">
                      <div class="card-header">
                        <i class="fa fa-paper-plane"></i> Most Recent Message Sent
                      </div>
                      <div class="card-body">
                        <app-mostrecent></app-mostrecent>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="col-md-4">
                  <!-- TODO: This will be uncommented when the API is updated -->
                  <app-activity [pageSize]="2" [maxSize]="200"></app-activity>
                  <!-- <a routerLink="/activity" routerLinkActive="active" class="btn btn-primary btn-sm btn-block">View More</a> -->
                </div>              
              </div>
        </section>
      </div>
    </div>
    
    <footer>
      <small>&copy; 2018 BetterLeasing.  All Rights Reserved. </small>
    </footer>
  </div>