<div class="page-content">
  <h1>Hi, {{currentUser?.firstname}}!</h1>
  <div class="line"></div>

  <div class="ui-g">
    <div class="ui-g-4">
      <div class="box tale">
        <div class="title">5</div>
        <div class="text">New applicants</div>
      </div>

      <div class="box tale">
        <div class="title"><i class="fa fa-bullhorn"></i></div>
        <div class="text">Make announcement</div>
      </div>

      <div class="box tale">
        <div class="title">2</div>
        <div class="text">Recent payments</div>
      </div>
    </div>
    <div class="ui-g-8">
      <div class="box box-large">
        <div class="title">Messages (2)</div>
        ...
      </div>

      <div class="box box-large">
        <div class="title">Maintenance Request (5)</div>
        ...
      </div>
    </div>
  </div>
</div>
