<div id="main">    
  <div class="main-content">
    <div class="container-fluid">
      <h6><i class="fa fa-user"></i> Welcome, {{currentUser?.firstname}}<br><small>ABC Management / Treetop Village Apartment Homes</small></h6>
      <hr>
      <h2>Dashboard</h2>
  
      <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                Recent Activity
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6><i class="fa fa-envelope float-right"></i>Messages<br><small>Community BBQ</small></h6>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
                </li>
                <li class="list-group-item">
                  <h6><i class="fa fa-dollar float-right"></i>Payments</h6>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
                </li>
                <li class="list-group-item">
                  <h6><i class="fa fa-wrench float-right"></i>Maintenance Requests</h6>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8">
            <section>
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    eeetet
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    fdffd
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    fvdfre
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        
      </div>

  </div>
</div>
