<ul>
  <li>
    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="fa fa-tachometer"></i> Dashboard
    </a>
  </li>
  <li>
    <a routerLink="/applicants" routerLinkActive="active">
      <i class="fa fa-file-o"></i> Applicants
    </a>
  </li>
  <li>
    <a routerLink="/messages" routerLinkActive="active">
      <i class="fa fa-comment-o"></i> Messages
    </a>
  </li>
  <li>
    <a routerLink="/maintenance" routerLinkActive="active">
      <i class="fa fa-wrench"></i> Maintenance Request
    </a>
  </li>
  <li>
    <a routerLink="/announcement" routerLinkActive="active">
      <i class="fa fa-bullhorn"></i> Make Announcement
    </a>
  </li>
  <li>
    <a routerLink="/payments" routerLinkActive="active">
      <i class="fa fa-user"></i> Payments Reports
    </a>
  </li>
  <li>
    <a routerLink="/apartment" routerLinkActive="active">
      <i class="fa fa-building-o"></i> Apartment Profile
    </a>
  </li>
  <li>
    <a routerLink="/my-account" routerLinkActive="active">
      <i class="fa fa-tachometer"></i> My Account
    </a>
  </li>
  <li>
    <a routerLink="/login" [queryParams]="{out: 1}" routerLinkActive="active">
      <i class="fa fa-sign-out"></i> Log out
    </a>
  </li>
</ul>
