ul {
  list-style: none;
  padding: 0;

  li a {
    width: 100%;
    background-color: #4A4A4A;
    padding: 20px 20px 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 1px;
    white-space: nowrap;
    box-sizing: border-box;

    &.active {
      background-color: #707070;
    }

    i {
      margin-right: 10px;
    }
  }
}
