
  <div class="nav-side-menu">
    <div class="user-logo">
      <a routerLink="/" class="navbar-brand"><img src="assets/logo-demo.png" alt="BetterLeasing"></a>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    </div>

    <div class="menu-list">

      <ul id="menu-content" class="menu-content collapse out">
        <li routerLink="/dashboard" routerLinkActive="active">
          <a><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li routerLink="/applicants" routerLinkActive="active">
          <a><i class="fa fa-user"></i> Applicants</a>
        </li>
        <li routerLink="/payments" routerLinkActive="active">
          <a><i class="fa fa-dollar"></i> Payments</a>
        </li>
        <li routerLink="/maintenance" routerLinkActive="active">
          <a><i class="fa fa-wrench"></i> Maintenance</a>
        </li>
        <li routerLink="/messages" data-toggle="collapse" data-target="#products" class="collapsed">
          <a><i class="fa fa-comments"></i> Message Center <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" routerLinkActive="show">
          <li routerLink="/messages/inbox" routerLinkActive="active"><a><i class="fa fa-envelope"></i> Mailbox</a></li>
          <li routerLink="/messages/reports" routerLinkActive="active"><a><i class="fa fa-paper-plane"></i> Message Report</a></li>
          <li routerLink="/messages/announcements" routerLinkActive="active"><a><i class="fa fa-bullhorn"></i> Announcements</a></li>
          <li routerLink="/messages/notifications" routerLinkActive="active"><a><i class="fa fa-exclamation-circle"></i> Notifications</a></li>
        </ul>
        <li routerLink="/my-account" routerLinkActive="active">
          <a><i class="fa fa-id-card-o"></i> My Account</a>
        </li>

      </ul>
     </div>
  </div>
