
  <div class="nav-side-menu">

    <div class="user-logo">

        <a href="#" class="navbar-brand"> 
          <img [src]="logoUrl" alt="BetterLeasing" onError="this.src='./assets/backuplogo.png';"> 
        </a> 
  
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    </div>

    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out" [ngbCollapse]="isCollapsed">
        <li class="primary" routerLink="/dashboard" routerLinkActive="active">
          <a><i class="fa fa-dashboard"></i> Dashboard </a>
        </li>
        <li class="primary" routerLink="/leasing" routerLinkActive="active">
          <a><i class="fa fa-user"></i> Leasing</a>
        </li>
        <li class="primary" routerLink="/messages" 
           aria-controls="products">
          <a><i class="fa fa-comments"></i> Communications <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="products" routerLinkActive="show" [ngbCollapse]="isCollapsed" [routerLinkActiveOptions]="{exact: false}">
          <li class="primary" routerLink="/messages" routerLinkActive="active"><a><i class="fa fa-comment"></i> Messages</a></li>
          <li class="primary" (click)="goToReport()" routerLink="report" routerLinkActive="active"><a><i class="fa fa-paper-plane"></i> Message Report</a></li> 
          <li class="primary" routerLink="/announcements" routerLinkActive="active"><a><i class="fa fa-bullhorn"></i> Announcements</a></li>
        </ul>
        <li class="primary" routerLink="/my-account" routerLinkActive="active">
          <a><i class="fa fa-id-card-o"></i> My Account</a>
        </li>

      </ul>
     </div>
  </div>
  