.inactive {
  opacity: 0.5;
}

.user-logo {
  height: 100px;
}

.imgLogo {
  vertical-align: middle;
  max-height: 50px;
}

.vertSpan {
  display: inline-block; 
  vertical-align: middle; 
  height: 100%;
}

.inline {
  display: inline;
}