.inactive {
  opacity: 0.5;
}

.imgLogo {
  vertical-align: middle;
  max-height: 100px;
}

.vertSpan {
  display: inline-block; 
  vertical-align: middle; 
  height: 100%;
}

.inline {
  display: inline;
}

.navbar-brand {
  margin: 0;
}
.navbar-brand img {
  max-height: 4.063rem;
  display: inline-block;
}