<!-- <div class="modal-dialog" role="document"> -->
		<div class="container">
			<form [formGroup]="composeForm" (ngSubmit)="send(); activeModal.close('Close click')" novalidate>
				<div class="modal-header">
					<h5 class="modal-title" id="composeMailModalLabel"><i class="fa fa-edit"></i> Compose Message</h5>
					<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<p> From: info@treetopvillage.com </p>

					<div class="form-group">
							<p class="mb-0"><label for="messageType">Message Type:</label></p>
							<div class="row">
								<div class="col-sm-12">
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<div class="form-check">
												<input class="form-check-input" type="radio" formControlName="messageType" id="messageStandard" value="STANDARD" checked>
												<label class="form-check-label" for="messageStandard">Standard Message</label>
											</div>
										</li>
										<li class="list-inline-item">
											<div class="form-check">
												<input class="form-check-input" type="radio" formControlName="messageType" id="messageAlertUrgent" value="ALERTURGENT">
												<label class="form-check-label" for="messageAlertUrgent">Alert - Urgent</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>

					<div class="form-group">
						<label>Recipient Type:</label>
						<select class="form-control" formControlName="type">
							<option value="">Select Recipient Type:</option>
							<option *ngFor="let recip of recips" [value]="recip.type">
								{{recip.name}}
                            </option>
						</select>
					</div>

					<div class="form-group" [style.display]="(composeForm.value.type === 'BUILDING') ? 'block' : 'none' ">
						<label for="rentalsiteBuildingIds">Select Building(s):</label>
							<div class="ui-fluid">
								<p-multiSelect [style]="{'display':'block'}" [options]="buildings" [filter]=false formControlName="rentalsiteBuildingIds" optionLabel="address1"></p-multiSelect>
							</div>
					</div> 

					<div class="form-group" [style.display]="(composeForm.value.type === 'UNIT') ? 'block' : 'none' ">
						<label>Select Building:</label>
						<select class="form-control" formControlName="buildingIdforUnit">
							<option value="">Select Building:</option>
							<option *ngFor="let building of buildings" [value]="building.id">
								{{building.address1}}
                            </option>
						</select>
					</div>
					

					<div class="form-group" [style.display]="(composeForm.value.type === 'UNIT') ? 'block' : 'none' ">
						<label for="toEmail">To:</label>
						<div class="ui-fluid">
							<p-autoComplete formControlName="rentalsiteBuildingUnitIds" [suggestions]="selectedUnits" (completeMethod)="getUnitsForBuilding($event)" (onSelect)="addUnit($event)" [immutable]=false [minLength]="1"  placeholder="Enter Units" field="unitNumber" [multiple]="true">
								</p-autoComplete>
						</div>
					</div>

					 <div class="form-group" [style.display]="(composeForm.value.type === 'TENANT') ? 'block' : 'none' ">
						<label>Select Building:</label>
						<select class="form-control" formControlName="buildingIdforTenantUnit">
							<option value="">Select Building:</option>
							<option *ngFor="let building of buildings" [value]="building.id">
								{{building.address1}}
                            </option>
						</select>
					</div> 

					 <div class="form-group" [style.display]="(composeForm.value.type === 'TENANT') ? 'block' : 'none' ">
						<label> Enter Unit: </label>
						<div class="ui-fluid">
							<p-autoComplete [suggestions]="selectedTenantUnits" (completeMethod)="getUnitsForBuildingTenant($event)" (onSelect)="setUnit($event)" [minLength]="1"  placeholder="Enter Unit" field="unitNumber" [multiple]="false">
							</p-autoComplete>
						</div>
					</div> 

					<div class="form-group" [style.display]="(composeForm.value.type === 'TENANT') ? 'block' : 'none' ">
							<label for="tenantIds">To:</label>
						<div class="ui-fluid">
							<p-multiSelect [options]="tenants" [showToggleAll]=false formControlName="tenantIds">
							</p-multiSelect>
						</div>
					</div>


					<div class="form-group">
						<label for="subject">Subject:</label>
						<input type="email" class="form-control" formControlName="subject" placeholder="Subject">
					</div>
					<p-editor formControlName="message" [style]="{'height':'280px'}">
					  <p-header>
					      <span class="ql-formats">
					      	  <select class="ql-size">
					      	    <option value="small"></option>
					      	    <option selected></option>
					      	    <option value="large"></option>
					      	    <option value="huge"></option>
					      	  </select>
					          <button class="ql-bold" aria-label="Bold"></button>
					          <button class="ql-italic" aria-label="Italic"></button>
					          <button class="ql-underline" aria-label="Underline"></button>
					          <!-- <select class="ql-color">
					      	  </select> -->
					          <!-- <button class="ql-image" aria-label="Image"></button> -->
					      </span>
					  </p-header>
					</p-editor>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" (click)="send(); activeModal.close('Close click')">Send</button>
					<button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
				</div>
			</form>
		</div>
	<!-- </div> -->
