<div class="modal-dialog" role="document">
		<div class="container">
			<form [formGroup]="composeForm" (ngSubmit)="send()" novalidate>
				<div class="modal-header">
					<h5 class="modal-title" id="composeMailModalLabel"><i class="fa fa-edit"></i> Compose Email</h5>
					<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<label for="fromEmail">From:</label>
						<input type="text" readonly class="form-control-plaintext" id="fromEmail" value="info@treetopvillage.com">
					</div>
					<div class="form-group">
						<label>Recipient Type:</label>
						<select class="form-control" formControlName="recipientType">
							<option value="">Select Recipient Type:</option>
							<option *ngFor="let recip of recips" [value]="recip">
								{{recip}}
                            </option>
						</select>
					</div>
					<div class="form-group">
						<label for="emailBuilding">Building(s):</label>
						<select class="form-control" formControlName="emailBuilding">
							<option value="">Select Building(s):</option>
							<option *ngFor="let building of buildings" [value]="building">
								{{building}}
                            </option>
						</select>
					</div>
					<div class="form-group">
						<label for="toEmail">To:</label>
						<input type="email" class="form-control" formControlName="email" id="toEmail" aria-describedby="emailHelp" placeholder="Enter email">
						<small><em class="text-muted">Separate by (,) comma</em></small>
					</div>
					<div class="form-group">
						<label for="emailType">Email Type:</label>
						<select class="form-control" formControlName="emailType">
							<option value="">Select Type:</option>
							<option *ngFor="let emailtype of emailtypes" [value]="emailtype">
								{{emailtype}}
                            </option>
						</select>
					</div>
					<div class="form-group">
						<label for="emailSubject">Subject:</label>
						<input type="email" class="form-control" formControlName="emailSubject" placeholder="Email Subject">
					</div>
					<p-editor formControlName="message" [style]="{'height':'320px'}"></p-editor>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Send</button>
					<button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
				</div>
			</form>
		</div>
	</div>
